<div class="info">
    <div class="first-grid">
        <h3 >LOGO</h3>
        <p>Lorem ipsum dolor sit amet dolor sit amet dolor sit amet.</p>
        <div class="icons" style="margin-top:70px;">
            <a href="https://www.facebook.com/" class="icons-circle"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/" class="icons-circle"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/" class="icons-circle"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="icons-circle"><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <div class="second-grid">
        <h3>Browse</h3>
        <p>Home</p>
        <p>Movies</p>
        <p>TV Shows</p>
    </div>
    <div class="third-grid">
        <h3>About Us</h3>
        <p>Contact</p>
        <p>seeshow@show.com</p>
        <p>Blogs</p>
    </div>
    <div class="fourth-grid">
        <h3>Help</h3>
        <p>Subscription</p>
        <p>Registration</p>
        <p>History</p>
        <p>Profile</p>
    </div>
</div>

<footer>
    2022 LOGO | All rights reserved
</footer>
